@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-typeahead.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/main.css")" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Instant Anime Recommendations</title>
    <script>
        $(document).ready(function () { add_rating_row('', 0, 10); });
    </script>
</head>
<body>
    <div style="margin-top:20px" class="container">
    <div class="row">
        <div class="span2">
            <h3>&nbsp;</h3>
            <h2 class="sidebar">
                <small>Welcome to <strong>Instant Anime Rec</strong>. Choose ranking method.</small>
            </h2>
        </div>
        <div class="span10">
            <div class="row">
                <div class="span4">
                    <h3>Rate anime you have seen</h3>
                    @using (Html.BeginForm("FromList", "Recommend", FormMethod.Post)) {
                        <div style="padding-bottom:9px; margin-bottom:10px;" class="well">
                            @Html.Partial("RatingPickerControl")
                        </div>
                        <div style="padding-top:9px;" class="well">
                            @Html.Partial("RecommendButton")
                        </div>
                    }
                </div>
                <div style="vertical-align:middle;" class="span2">
                <h3>&nbsp;</h3>
                    <h1 id="huge">
                        OR
                    </h1>
                </div>
                <div class="span4">
                    <h3>Use MyAnimeList.net</h3>
                    <div class="well">
                        <form class="form-inline">
                            <input style="width:180px" type="text" class="input input-large disabled" disabled="disabled" placeholder="Coming soon..."/>
                            <button type="submit" disabled="disabled" class="btn btn-primary disabled">Recommend</button>
                        </form>
                        <p>
                        Examples:
                        <ul>
                            <li>askanier</li>
                            <li>myanimelist.net/profile/askanier</li>
                            <li>http://myanimelist.net/profile/askanier</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
