@model MsdnWeb.Controllers.Recommendations
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-typeahead.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/list.css")" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Your recommended anime</title>
</head>
<body style="height:100%">
    <div style="margin-top:20px" class="container">
    <div class="row">
        <div class="span2">
            <h2>
            <small>
                These shows have been picked to fit your taste. <strong>Enjoy!</strong>
            </small>
            </h2>
        </div>
        <div class="span10" >
            @Html.Partial("RatingListControl", Tuple.Create(10, Model.Masterpiece))
            @Html.Partial("RatingListControl", Tuple.Create(9, Model.Great))
            @Html.Partial("RatingListControl", Tuple.Create(8, Model.VeryGood))
        </div>
    </div>
    </div>
</body>
</html>
