@model MsdnWeb.Controllers.RecommendationsWithKnown
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-typeahead.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/main.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/list.css")" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Your recommended anime</title>
    <script>
        $(document).ready(function () {
            @{foreach (var known in Model.Known) {
                this.WriteLiteral(String.Format("add_rating_row(\"{0}\", {1}, {2});\n", known.Key, known.Value.Key, known.Value.Value));
            }}
        });
    </script>
</head>
<body style="height:100%">
    <div style="margin-top:20px" class="container">
    @using (Html.BeginForm("FromList", "Recommend", FormMethod.Post))
    {
    <div class="row">
        <div class="span2">
            <h2><small><strong>Rerate</strong> your shows.</small></h2>
        </div>
        <div class="span10">
            <div class="well">
                @Html.Partial("RatingPickerControl")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <h2><small>Generate <strong>new</strong> ranking.</small></h2>
        </div>
        <div class="span10">
            <div class="well">
                @Html.Partial("RecommendButton")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <h2>
            <small>
                These shows have been picked to fit <strong>your taste</strong>. Watch them or refine your selection and <strong>generate ranking again</strong>.
            </small>
            </h2>
        </div>
        <div class="span10" >
            @Html.Partial("RatingListControl", new MsdnWeb.Controllers.RecommendationSet(Model.Recommendations.Masterpiece, 10, true))
            @Html.Partial("RatingListControl", new MsdnWeb.Controllers.RecommendationSet(Model.Recommendations.Great, 9, true))
            @Html.Partial("RatingListControl", new MsdnWeb.Controllers.RecommendationSet(Model.Recommendations.VeryGood, 8, true))
        </div>
    </div>
    }
    </div>
</body>
</html>
